{% if action_success %}
<script type="text/javascript">
    location.href = "{{ action_success }}";
</script>
{% endif %}

{{ header }}
<div id="common-success" class="container">
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if message %}
      <div class="text-center">
        <div class="alert alert-info" style="width: 256px; margin: 5px auto;">{{ message }}</div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{% if ready %}
<script type="text/javascript"><!--
  function onBridgeReady(){
    WeixinJSBridge.invoke(
       'getBrandWCPayRequest', {
          "appId":"{{ appid }}",     //公众号名称，由商户传入     
          "timeStamp":"{{ timestamp }}",         //时间戳，自1970年以来的秒数
          "nonceStr":"{{ noncestr }}", //随机串     
          "package":"prepay_id={{ prepayid }}",     
          "signType":"{{ signtype }}",         //微信签名方式：     
          "paySign":"{{ paySign }}" //微信签名 
       },
       function(res){

         switch(res.err_msg) {
             case 'get_brand_wcpay_request:cancel':
                 alert('用户取消支付！');
                 break;
             case 'get_brand_wcpay_request:fail':
                 alert('支付失敗！（'+res.err_desc+'）');
                 break;
             case 'get_brand_wcpay_request:ok':
                 alert('支付成功！');
                 {% if complete_url %}
                   location.href = "{{ complete_url }}";
                 {% endif %}
                 break;
             default:
                 alert(JSON.stringify(res));
                 break;
         }

       }
    ); 
  }
  if (typeof WeixinJSBridge == "undefined"){
     if( document.addEventListener ){
         document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
     }else if (document.attachEvent){
         document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
         document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
     }
  }else{
     onBridgeReady();
  }
//-->
</script>
{% endif %}